# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folder
/build
/build_make
/build_codelite
/build_xcode
/build_vs
/build_ninja

# Visual Studio Code
.vscode/.cmaketools.json

# Visual Studio
.vs

